/*finance css*/
.finance_center .finance_choose_center{
	padding:5px;
    width: 200px;
    background-color: #F2F4f6;
    float: left;
}

.finance_center .choose_title {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.finance_center .finance_center_li {
	/* background-color: #E7E6E3; */
    font-weight: 500;
    /* border-top: 1px solid #ccc; */
    margin-bottom: 5px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}

.finance_center .finance_choose_title {
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.finance_center .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
	background-color: #7FBF40;
	color: #FFFFFF;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.finance_center .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover{
	color: #FFFFFF;
}
.finance_center .el-tabs--border-card>.el-tabs__header .el-tabs__item{
	background-color: #E7E7E7;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.finance_center .el-tabs__item{
	font-size: 16px;
    font-weight: 1000;
}
.finance_center .el-tabs--border-card>.el-tabs__content{
	padding:0;
	width:840px;
}
.finance_center .el-table--border, .el-table--group{
	border:1px solid #DEDEDE;
}
.finance_center .el-tabs--border-card>.el-tabs__header{
	background-color: #ffffff;
    border-bottom: 0;
}
.finance_center .el-tabs--border-card{
	background: none;
    border: 0; 
    /* border-bottom: 1px solid; */
    -webkit-box-shadow: none;
    box-shadow: none;
}
.finance_center .el-dialog{
	width:500px;
}
.finance_center .delete-pro .el-dialog{
	width:400px;
}

.finance_center .el-form-item__label{
	color:#d9534f !important;
}
.finance_center .el-dialog__header{
	padding: 15px;
    color: #ffa144 !important;
    font-size: 23px;
    border-bottom: 1px solid #e5e5e5;
}
.finance_center .el-dialog__title {
    color: #ffa144 !important;
    font-size: 23px;
}
.finance_center .el-dialog__body {
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
}
.finance_center .el-form-item__label{
	text-align: right;
}
.finance_center .el-dialog__footer{
	padding: 10px 20px 20px;
    text-align: right;
    box-sizing: border-box;
}
.finance_center .el-dialog button {
    margin-top: 5px;
    width: 80px !important;
    height: 35px !important;
    background-color: #7fbf40;
    height: 40px;
    color: #fff;
    border: none;
    padding: 0 10px;
    border-radius: 6px;
    cursor: pointer;
}
.finance_center .el-dialog__header button{
	display: none;
}
.finance_center .el-table td, .el-table th.is-leaf{
	border-left: 1px solid #DEDEDE;
}
.finance_center .el-tabs__nav-scroll {
    background-color: #F9F9F9;
}
.finance_center .finance_setting .el-form-item__label{
	color: Black !important;
	margin-left: 20px;
}
/* .finance_center .right-container{
	width:100%;
	float: left;
} */
.finance_center .finance_setting .el-form-item__content{
	float: left;
}
.finance_center .el-table__body, .el-table__footer, .el-table__header{
	table-layout: auto !important;
}
.finance_center .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
	border-right: 0;
}
.finance_center .Product_class .el-button{
	padding: 0;
}
.finance_center .Setting_class .el-button{
	margin-left: 20px;
	margin-bottom: 10px;
    margin-top: -20px;
}
.finance_center .Setting_class .el-col-12{
	margin-top: 20px;
}
.finance_center .Product_class .el-table__empty-block{
	min-height: 0px;
}
